[submodule "tools/juniper"]
	path = tools/juniper
	url = git@github.com:FocuswithJustin/JuniperBible.git
	branch = main
[submodule "tools/magellan"]
	path = tools/magellan
	url = git@github.com:FocuswithJustin/magellan.git
	branch = main
