[submodule "tools/juniper"]
	path = tools/juniper
	url = git@github.com:FocuswithJustin/JuniperBible.git
	branch = development
[submodule "tools/magellan"]
	path = tools/magellan
	url = git@github.com:FocuswithJustin/magellan.git
	branch = development
[submodule "tools/hugo"]
	path = tools/hugo
	url = https://github.com/FocuswithJustin/hugo.git
	branch = master
