{{/*
  back-nav.html - Back navigation component

  Usage:
    {{ partial "michael/back-nav.html" (dict
      "links" (slice
        (dict "url" "/bible" "text" "Back to Bible Index")
        (dict "url" "/bible/versions" "text" "View All Versions")
      )
    ) }}

  Parameters:
    - links (slice, required): Array of link dicts with:
        - url (string, required): Link destination
        - text (string, required): Link text
*/}}

<nav role="navigation" aria-label="Back navigation">
  <div style="text-align: center;">
    {{ range $index, $link := .links }}
      {{ if gt $index 0 }}
        <span class="action-separator">|</span>
      {{ end }}
      <a href="{{ $link.url }}" class="action-button" role="button">
        {{ $link.text }}
      </a>
    {{ end }}
  </div>
</nav>
