{{/*
  Diff Legend Partial

  Displays a compact legend explaining the color-coded differences
  in the Bible translation comparison feature.

  Parameters (via dict):
    - id (string, optional): ID prefix for the legend element

  Usage:
    {{ partial "michael/diff-legend.html" dict }}
    {{ partial "michael/diff-legend.html" (dict "id" "sss") }}
*/}}
{{- $id := .id | default "" -}}
{{- $prefix := cond (eq $id "") "" (printf "%s-" $id) -}}
<div id="{{ $prefix }}diff-legend" class="diff-legend hidden">
  <span class="diff-legend__item"><span class="diff-legend__swatch diff-legend__swatch--add"></span>{{ i18n "diffAdded" | default "Added" }}</span>
  <span class="diff-legend__item"><span class="diff-legend__swatch diff-legend__swatch--omit"></span>{{ i18n "diffOmitted" | default "Omitted" }}</span>
  <span class="diff-legend__item"><span class="diff-legend__swatch diff-legend__swatch--subst"></span>{{ i18n "diffChanged" | default "Changed" }}</span>
  <span class="diff-legend__item"><span class="diff-legend__swatch diff-legend__swatch--spelling"></span>{{ i18n "diffSpelling" | default "Spelling" }}</span>
  <span class="diff-legend__item"><span class="diff-legend__swatch diff-legend__swatch--punct"></span>{{ i18n "diffPunctuation" | default "Punctuation" }}</span>
</div>
