/* Self-hosted Google Fonts */
@font-face {
  font-family: 'Neucha';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/neucha.woff2') format('woff2');
}

@font-face {
  font-family: 'Patrick Hand';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/patrickhand.woff2') format('woff2');
}
