<footer class="container">
  <nav>
    <ul role="list">
      <li><a href="/">Home</a></li>
      <li role="separator">|</li>
      <li><a href="/religion/bibles/">Bible</a></li>
      <li role="separator">|</li>
      {{/* <li><a href="/about/">About</a></li>
      <li role="separator">|</li>
      <li><a href="/contact/">Contact</a></li>
      <li role="separator">|</li> */}}
      <li><a href="/privacy/">Privacy</a></li>
      <li role="separator">|</li>
      <li><a href="/terms/">Terms</a></li>
      <li role="separator">|</li>
      <li><a href="/tags/">Tags</a></li>
      <li role="separator">|</li>
      <li><a href="/sitemap.xml">Sitemap</a></li>
      <li role="separator">|</li>
      <li><a href="/index.xml">RSS</a></li>
    </ul>
  </nav>

  <small>
    <p>&copy; 2024-{{ now.Year }} Juniper Bible&trade;. &ldquo;Juniper Bible&rdquo;, &ldquo;Side by Side Scripture&rdquo;, &ldquo;SSS&rdquo;, &ldquo;Christian Canon Compared&rdquo;, &ldquo;CCC&rdquo;, the symbol of a point inscribed within a circle, itself inscribed within an equilateral triangle are trademarks of Justin Weeks. All rights reserved. Unauthorized duplication or distribution is strictly prohibited.</p>
    <p>By using this site, you agree to our <a href="/privacy/">Privacy Policy</a> and <a href="/terms/">Terms of Use</a>. All other trademarks are property of their respective owners.</p>
  </small>
</footer>
