<footer class="chrome">
  <div class="container">
    <nav class="nav">
      <a href="/">Home</a>
    </nav>
  </div>
</footer>
<div class="footer-copyright">
  <div class="container">
    <p style="padding: 10px 0; font-size: 0.85rem;">
      &copy; 2024-{{ now.Year }} <a href="https://focuswithjustin.com" target="_blank" rel="noopener">Justin</a> and <a href="/license/" target="_blank" rel="noopener">contributors</a>. All rights reserved. Unauthorized duplication or distribution is strictly prohibited. Want more <a href="https://juniperbible.org">bible translations</a> at <a href="https://juniperbible.org" target="_blank" rel="noopener">JuniperBible.org</a>. All good things start and end with <a href="/bible/">God</a>.
  </div>
</div>
