<footer class="chrome">
  <div class="container">
    <nav class="nav">
      <a href="{{ "/" | relLangURL }}">{{ i18n "home" | default "Home" }}</a>
    </nav>
  </div>
</footer>
<div class="footer-copyright">
  <div class="container">
    <p class="footer-copyright__text">
      &copy; 2024-{{ now.Year }} <a href="https://focuswithjustin.com" target="_blank" rel="noopener">Justin</a> and <a href="{{ "/license/" | relLangURL }}">contributors</a>. All rights reserved. Unauthorized duplication or distribution is strictly prohibited. Find more <a href="https://juniperbible.org" target="_blank" rel="noopener">bible translations</a> and related works at <a href="https://juniperbible.org" target="_blank" rel="noopener">JuniperBible.org</a>. All good things start and end with <a href="{{ "/bible/" | relLangURL }}">God</a>.
    </p>
  </div>
</div>
